@import "variables";
html,
body {
    height: 100%;
    & body {
        margin: 1rem;
        background-color: $bg;
    }
}

.container {
    // border: 1px solid $btn;
    &--main {
        width: 100%;
        border: 1px solid $btn;
        gap: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &--nuxt {
        border: 3px solid rgb(5, 139, 0);
    }
}
