@import "variables";
html,
body {
    height: 100%;
    & body {
        margin: 1rem;
        background-color: $bg;
    }
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    &--main {
        width: 100%;
        height: 90vh;
        gap: 2px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 25% 30% 45%;
        border-collapse: collapse;
    }
    &--column {
        width: 100%;
    }
    &--task-list {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &--nuxt {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .middle {
        background-color: $bg-darker;
    }
    .right {
        display: flex;
        justify-content: center;
    }
}
